extends layout

block content
  h1 Welcome to #{title}
  p
    | You can find the current song queue in 
    a(href='/queue') queue
    | .
  p Stream is currently 
    b #{store.isStreamLive() ? "Live" : "Offline"}
    | .
