doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://botshuassets.blob.core.windows.net/botshu-assets/sakura-vader.css')
  body
    block content
    hr
    p BotShu maintained with ♥ by febog.
