doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://botshuassets.blob.core.windows.net/botshu-assets/sakura-vader.css')
  body
    block content
    hr
    p BotShu maintained with ♥ by febog.
