extends layout

block content
  h1 Today's song queue
  p
    | To add a new song to the queue use the #[code !sr (youtube link)] 
    | command in chat.
  p A total of #{queue.length} songs have been queued this stream.
  ol
    each song in queue
      li
        b= song.name
        |  requested by 
        b= song.requestor
